@using System
@using OnlineStore.Controllers
@using OnlineStore.Models
@model OnlineStore.Controllers.ReccomendationController.RecomendationModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    <h2>Персональные рекомендации</h2>
    <ul>
        @foreach (var reccomendation in Model.recomendation)
        {
            <li>@reccomendation.Title <i>(@reccomendation.Vendors.Title)</i></li>
        }
    </ul>
}

<table class="table table-bordered">
    <tr>
        <th></th>
        @foreach (Users user in Model.Users)
        {
            <th>@user.Name.Split(new[] { '@' }, StringSplitOptions.RemoveEmptyEntries)[0]</th>
        }
    </tr>
    @foreach (Users user in Model.Users)
    {
        <tr>
            <th>@user.Name.Split(new[] { '@' }, StringSplitOptions.RemoveEmptyEntries)[0]</th>
            @foreach (Users user2 in Model.Users)
            {
                foreach (ReccomendationController.SimilarUsers likness in Model.SimilarUserses)
                {
                    if (likness.First == user && likness.Second == user2)
                    {
                        <td>
                            @Math.Round(likness.SimilarCoef, 4)
                        </td>
                    }
                }
            }
        </tr>
    }
</table>